<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>
      <add key="TwitterConsumerKey" value="jXpE5HUJjt1VxZdkHbNgr35Xt"/>
      <add key="TwitterConsumerSecret" value="3cxc8YPb6CYESV7FD34sIjzU6DS7lj4NBpRKxhPXaijawdXLnc"/>
      <add key="DefaultUsername" value="salesforce"/>
      <add key="DefaultPassword" value="ldsisgreat"/>
    </appSettings>

    <connectionStrings>

    </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
